{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="blur">

        <div class="fond-inscription">
            <div class="placement_nav">
                {% include 'common/_nav.html.twig' %}
            </div>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="inscription">
                    <span class="titre_form">Connexion</span><br>

                    <label for="inputEmail">Adresse mail : </label>
                    <input type="email" placeholder="Votre adresse mail" value="{{ last_username }}" name="email" id="inputEmail" class="input_form" required autofocus>

                    <label for="inputPassword">Mot de passe : </label>
                    <input type="password" placeholder="Votre mot de passe" name="password" id="inputPassword" class="input_form" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="bt_valid&cancel_place">
                        <button class="bt_valid" type="submit">Valider</button>
                        <a class="bt_cancel" href="{{ path('index') }}" >Annuler</a>
                    </div>
                </div>
            </form>
        </div>
        {% include 'common/_footer.html.twig' %}
    </div>

    {% include 'mentionLegal.html.twig' %}
    {% include 'travaux.html.twig' %}

    <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

{% endblock %}
