{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="blur">

        <div class="fond-inscription">
            <div class="placement_nav">
                {% include 'common/_nav.html.twig' %}
            </div>

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}

            <div class="inscription">
                <span class="titre_form">Modifier mon profil</span>

                {{ form_start(form) }}

                    <div class="form-inside-div">
                        {{ form_errors(form.email) }}
                        <label for="user_email" class="required">Votre adresse mail</label>
                        {{ form_widget(form.email, {'attr': {'class':'input_form'}}) }}
                    </div>
                    <div class="form-inside-div">
                        {{ form_errors(form.name) }}
                        <label for="user_name" class="required">Votre nom</label>
                        {{ form_widget(form.name, {'attr': {'class':'input_form'}}) }}
                    </div>
                    <div class="form-inside-div">
                        {{ form_errors(form.firstname) }}
                        <label for="user_firstname" class="required">Votre prénom</label>
                        {{ form_widget(form.firstname, {'attr': {'class':'input_form'}}) }}
                    </div>

                    <div class="form-inside-div">
                        {{ form_errors(form.adresse) }}
                        <label for="user_adresse" class="required">Adresse de livraison</label>
                        {{ form_widget(form.adresse, {'attr': {'class':'input_form'}}) }}
                    </div>
                    <div class="form-inside-div">
                        {{ form_errors(form.phone) }}
                        <label for="user_phone" class="required">Votre téléphone</label>
                        {{ form_widget(form.phone, {'attr': {'class':'input_form'}}) }}
                    </div>
                    <div class="form-inside-div">
                        <label for="user_password" class="required">Votre nouveau mot de passe</label>
                        {{ form_widget(form.password, {'attr': {'class':'input_form', 'required': 'false'}}) }}
                    </div>

                    <div class="bt_valid&cancel_place">
                        <button class="bt_valid" type="submit">Valider</button>
                        <a class="bt_cancel" href="{{ path('index') }}" >Annuler</a>
                    </div>
                {{ form_end(form) }}

            </div>
        </div>
        {% else %}
            <p>Il faut te connectés</p>
        {% endif %}

        {% include 'common/_footer.html.twig' %}
    </div>

    {% include 'mentionLegal.html.twig' %}
    {% include 'travaux.html.twig' %}

    <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

{% endblock %}