{% extends 'base.html.twig' %}

{% block body %}

    <div class="fond-inscription">

    <div class="placement_nav">
        {% include 'common/_nav.html.twig' %}
    </div>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

    <div class="inscription">

        <span class="titre_form">Votre commande</span>

        <p class="margin_titre_form">{{ rendu.plat }} plat à {{ totPlat }} €</p>
        <p>{{ rendu.dessert }} dessert à {{ totDessert }} €</p>
        <p>{{ rendu.canette }} canette à {{ totCanette }} €</p>
        <p>{{ rendu.eau }} bouteille d'eau {{ totEau }} €</p>
        <p>{{ rendu.boisson }} boisson chaude à {{ totBoisson }} €</p>

        <p class="align_total">Total : {{ total }} €</p>
        <a class="bt_cancel" href="{{ path('index') }}" >Retour</a>


    </div>
        <div class="reglement">
            <p>
                Le règlement ce fera à la livraison ainsi que le choix des boissons. <br>
                Mode de payement accepté : Carte bancaire, ticket restaurant, espèce.
            </p>
        </div>

    {% else %}
        <p>Connecte te toi enculer</p>
    {% endif %}
    </div>
    <div class="form_footer">
        {% include 'common/_footer.html.twig' %}
    </div>


{% endblock %}