{% extends 'base.html.twig' %}

{% block body %}

    <h3>Commande</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Date de commande</th>
                <th>Client</th>
                <th>Plat</th>
                <th>Dessert</th>
                <th>Canette</th>
                <th>eau</th>
                <th>boisson</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ date }}</td>
                <td>{{ commande.user.name }}<br>{{ commande.user.firstname }}<br>{{ commande.user.adresse }}<br>{{ commande.user.phone }}</td>
                <td>{{ commande.plat }}</td>
                <td>{{ commande.dessert }}</td>
                <td>{{ commande.canette }}</td>
                <td>{{ commande.eau }}</td>
                <td>{{ commande.boisson }}</td>
                <td>
                    <form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Vous confirmez vouloir supprimer cette commande?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de commande reçu !</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
