{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

<footer>
    <div class="row placement_lien_reseau">
        <div class="col-6 col-md-4">
            <ul>
                <li class="espace_lien_footer"><div class="zoom"><a href="#" onclick="mentionL()">Mention légales</a></div></li>
                <li class="espace_lien_footer"><div class="zoom"><a href="#a_propos" onclick="travaux()">Me contacter</a></div></li>
                <li class="espace_lien_footer"><div class="zoom"><a href="#a_propos" onclick="travaux()">Newsletter</a></div></li>
            </ul>
        </div>
        <div class="col-4 box_logo">
            <img class="logo_eteint" src="{{ asset('assets/img/logoet.png') }}" alt="logo" title="logo">
            <img class="logo_allume" src="{{ asset('assets/img/logoallu.png') }}" alt="logo" title="logo">
        </div>
        <div class="col-6 col-md-4 taille_reseau">
            <div class="size_img_reseau zoom"><a href="#a_propos" onclick="travaux()"><img class="resp" src="{{ asset('assets/img/facebook2.png') }}" alt="#"></a></div>
            <div class="size_img_reseau zoom"><a href="#a_propos" onclick="travaux()"><img class="resp" src="{{ asset('assets/img/instagrame2.png') }}" alt="#"></a></div>
            <div class="size_img_reseau zoom"><a href="#a_propos" onclick="travaux()"><img class="resp" src="{{ asset('assets/img/twitter2.png') }}" alt="#"></a></div>
        </div>
    </div>
</footer>
