{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}

    <h1>Plat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Poids</th>
                <th>Day</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.name }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.price }}</td>
                <td>{{ plat.poids }}</td>
                <td>{{ plat.day }}</td>
                <td>
                    <a href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Oups problème avec la base de donnée !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
